* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: poppinsBold;
  src: url(/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppinsNormal;
  src: url(/Poppins/Poppins-Regular.ttf);
}
.logo {
  font-family: poppinsBold;
  font-size: 32px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: black;
}
nav a {
  font-family: poppinsNormal;
  margin-left: 25px;
  color: black;
}
#andrew:active,
#tom:active,
#toby:active {
  font-size: 24px;
  font-family: poppinsBold;
}
#andrew:hover,
#tom:hover,
#toby:hover {
  font-size: 24px;
  transition-duration: 0.5s;
  font-family: poppinsBold;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.floor {
  position: absolute;
  bottom: 0;
  left: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.title {
  position: absolute;
  width: 70%;
  left: 0;
  top: 5%;
  height: 70vh;
  left: calc(12% + 30px);
}
.spidermans {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.andrewImage {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-left: 40%;
}

.andrewImage,
.tomImage,
.tobyImage {
  height: 75vh;
}
.andrewSection {
  height: 100vh;
  background-color: #070707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.proArticle,
.consArticle {
  color: white;
  width: 25%;
}
.spiderSectionsTitle {
  font-family: poppinsBold;
  font-size: 48px;
  padding-bottom: 5%;
}
.andrewTitle {
  font-size: 120px;
  color: white;
  font-family: poppinsBold;
  text-align: center;
}
.spiderSectionsList {
  font-family: poppinsNormal;
  font-size: 24px;
}
.aspMovies {
  height: 100vh;
  background-color: #070707;
  z-index: 1;
}
.cardsSection {
  display: flex;
  padding: 5%;
  justify-content: space-around;
}
.movieCardAsp1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  height: 50vh;
  width: 40%;
  background-color: white;
  background-image: url(/fotos/asp1.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 50px;
  transition: 1s;
}
.movieCardAsp1:hover {
  background-position: bottom right;
  transition: 0.5s;
}
.movieCardAsp2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 40%;
  background-color: white;
  border-radius: 50px;
  background-image: url(/fotos/suitAsp2.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 2%;
  transition: 1s;
}
.movieCardAsp2:hover {
  background-position: bottom right;
  transition: 0.5s;
}
.cardTitle {
  font-family: poppinsBold;
  font-size: 24px;
  margin-bottom: 4%;
}
.cardText {
  font-family: poppinsNormal;
  font-size: 14px;
  width: 60%;
}
.inActive {
  opacity: 0;
  transition: 0.3s;
}
.active {
  opacity: 1;
  transition: 2s;
}
/*Tom Section*/
.tomSection {
  height: 100vh;
  background-color: #B31312;
}

.tomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.tomSpiderImage {
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  height: 60vh;
  z-index: 1;
}
